// 白色
$cWhite:#fff;

// 黒
$cBlack:#000;

// serviceのh3背景色
$cServiceBkColor:#2C334B;

// コンテンツ背景色
$cBcolor:#FAFAFA;

// media768pxまで
$fontSize:16px;
// width 
$cWidth:(1104/1280)*100%;
//サイトで使用するカラー
$FontColors: #A4ABB0;

// line 色
$cLine:#E2E2E2;

// blue-button 背景色
$contactButton:#364D6A,#599DC0;

// 下層ページの背景色　など
$containerBcolor:#202037;

// 下層ページのaboutのwidth
// $aboutAWidth:900px;

$cFontSerif: 'Sorts Mill Goudy', serif;

// serviceページの背景色
$cServiceColor:#949494;

// 背景色　ねずみ
$cF2f2f2:#f2f2f2;

