.blog-page{
    width: 717px;
    margin: 5vw auto;
    font-size: 1.6rem;
    color: #5B5C5C;
    @media screen and(max-width:768px){
        width: 90%;
        min-width: 310px;
        font-size: 1.4rem;
    }
    time{
        display: block;
    }
    h2{
        display: inline-block;
        font-size: 3.2rem;
        margin-bottom: 3vw;
        @media screen and(max-width:768px){
            font-size: 4.1666666vw;
        }
        @media screen and(max-width:425px){
            font-size: 1.6rem;
            margin-bottom: 5vw;
        }
    }
    figure{
        margin: 0;
        margin-bottom: 3vw;
        img{
            width: 100%;
        }
    }
    p{
        margin-bottom: 3vw;
    }
    h3{
        display: block;
        font-size: 3.2rem;
        padding: 10px 0;
        border-top:1px solid #5B5C5C;
        border-bottom:1px solid #5B5C5C;
        margin-bottom: 3vw;
        @media screen and(max-width:768px){
            font-size: 4.1666666vw;
        }
        @media screen and(max-width:425px){
            font-size: 1.6rem;
            margin-bottom: 5vw;
        }
    }
    article{
        margin-bottom: 3vw;
    }
    h4{
        display: block;
        padding: 1vw;
        background-color:#fafafa ;
        font-size: 2rem;
        margin-bottom: 3vw;
        @media screen and(max-width:768px){
            font-size: 1.6rem;
            margin-bottom: 5vw;
        }
    }
    .width{
        margin: 5vw auto;
        width: 50%;
    }
}