form{
    width: 870px;
    margin: 5vw auto;
    @media screen and(max-width:1000px){
        width:84vw;
    }
    h2{
        display: block;
    width: auto;
    margin-bottom: 3vw;
    text-align: center;
    /* margin: 0 auto; */
    color: #5B5C5C;
    font-size: 3.2rem;
    @media screen and(max-width:1000px){
        font-size: 2rem;
    }
    }
    dl dt{
        margin-bottom: 1vw;
    }
    textarea{
        width: 100%;
    border: 1px solid #adadad;
    }
    @media screen and (max-width: 768px){
        & .contact .contact-button {
            
         display: block; 
    }

    }
    
}
